body{
    background-color: #0D0D16;
}

h1{
    color: wheat;
    text-align: center;
    font-size: 60px;
}
.boxes{
    text-align: center;
    margin-top: 20vh;
    margin-left: 25vw;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px;
    grid-gap: 50px;
}

.btn{
    margin: 0 ;
    padding: 0 ;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    text-align:center; 
}

.boxes img{
    border-radius: 50%;
    margin: -2px;
    padding: 0;
    display: inline-block;
    height: 100px;
    width: 100px;
    object-fit: contain;
    object-position: center;
    object-fit: cover;
    object-position: right top;
}

.button-grow {
    color: #65b5f6;
    background-color: transparent;
    border: 1px solid #65b5f6;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  
  .button-grow:hover {
    transform: scale(1.5);
  }
 
  .modal-container{
      position: absolute;
      height: 100vh;
      width: 100vw;
      top: 0;
      left: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.8);
      opacity: 0;
      transform:scale(0);
      transition:all 0.3s;
  }
.modal{
    height: 50vh;
    width: 40vw;
    background-image: url(https://static.toiimg.com/photo/msid-89560141/89560141.jpg);
    background-size: cover;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.modal-container:target{
    opacity: 1;
    transform:scale(1);
}

.modal-container-mi{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform:scale(0);
    transition:all 0.3s;
}
.modal-mi{
  height: 50vh;
  width: 40vw;
  background-image: url(https://static.toiimg.com/thumb/imgsize-23456,msid-89560100,width-600,resizemode-4/89560100.jpg);
  background-size: cover;
  background-size: contain;
  background-position: center;
    background-repeat: no-repeat;
}
.modal-container-mi:target{
  opacity: 1;
  transform:scale(1);
}

.modal-container-rcb{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform:scale(0);
    transition:all 0.3s;
}
.modal-rcb{
  height: 50vh;
  width: 50vw;
  background-image: url(https://static.toiimg.com/thumb/imgsize-23456,msid-89559946,width-600,resizemode-4/89559946.jpg);
  background-size: cover;
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
}
.modal-container-rcb:target{
  opacity: 1;
  transform:scale(1);
}

.modal-container-kkr{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform:scale(0);
    transition:all 0.3s;
}
.modal-kkr{
  height: 50vh;
  width: 50vw;
  background-image: url(https://static.toiimg.com/thumb/imgsize-23456,msid-89559993,width-600,resizemode-4/89559993.jpg);
  background-size: cover;
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
}
.modal-container-kkr:target{
  opacity: 1;
  transform:scale(1);
}

.modal-container-dc{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform:scale(0);
    transition:all 0.3s;
}
.modal-dc{
  height: 50vh;
  width: 50vw;
  background-image: url(https://static.toiimg.com/photo/msid-89559922/89559922.jpg);
  background-size: cover;
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
}
.modal-container-dc:target{
  opacity: 1;
  transform:scale(1);
}

.modal-container-srh{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform:scale(0);
    transition:all 0.3s;
}
.modal-srh{
  height: 50vh;
  width: 50vw;
  background-image: url(https://static.toiimg.com/photo/msid-89560275/89560275.jpg);
  background-size: cover;
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
}
.modal-container-srh:target{
  opacity: 1;
  transform:scale(1);
}

.modal-container-kxip{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform:scale(0);
    transition:all 0.3s;
}
.modal-kxip{
  height: 50vh;
  width: 50vw;
  background-image: url(https://static.toiimg.com/photo/msid-89560287/89560287.jpg);
  background-size: cover;
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
}
.modal-container-kxip:target{
  opacity: 1;
  transform:scale(1);
}

.modal-container-rr{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform:scale(0);
    transition:all 0.3s;
}
.modal-rr{
  height: 50vh;
  width: 50vw;
  background-image: url(https://static.toiimg.com/photo/msid-89560195/89560195.jpg);
  background-size: cover;
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
}
.modal-container-rr:target{
  opacity: 1;
  transform:scale(1);
}

.modal-container-lsg{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform:scale(0);
    transition:all 0.3s;
}
.modal-lsg{
  height: 50vh;
  width: 50vw;
  background-image: url(https://static.toiimg.com/photo/msid-89559895/89559895.jpg);
  background-size: cover;
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
}
.modal-container-lsg:target{
  opacity: 1;
  transform:scale(1);
}

.modal-container-gt{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    transform:scale(0);
    transition:all 0.3s;
}
.modal-gt{
  height: 50vh;
  width: 50vw;
  background-image: url(https://static.toiimg.com/thumb/imgsize-23456,msid-89572989,width-600,resizemode-4/89572989.jpg);
  background-size: cover;
  background-size: contain;
  background-repeat:no-repeat;
  background-position: center;
}
.modal-container-gt:target{
  opacity: 1;
  transform:scale(1);
}

.close{
    color: cyan;
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}
.close:hover{
    background-color: red;
    color: black;
}

.back{
  margin-top: 10vh;
  display: flex;
  align-items: center;
  justify-content:center;
}
.back-btn{
  height: 10vh;
  width: 20vh;
  border-radius: 20%;
  background-color:white;
  color: black;
 font-size: 25px;
}

.back-btn:hover{
  background-color: rgb(55, 13, 71);
  color: white;
}